@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.header .nav-links .navbarnav-links{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 15px;
     font-family: "Bitcount Grid Single", system-ui;
     padding: 20px;
     transition-duration: 1s;
     border-radius: 40px;
}

.navbarnav-links:hover{
    color: green !important;
}

.header .nav-links .navbarnav-links:hover{
    font-size: 20px;
}

.header{
    background-color: rgb(0, 86, 247);
    padding: 10px;
}
body{
    background-color: rgb(5, 0, 70);
    margin: 0;
}

.nav-links{
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

*{
     color: rgb(185, 185, 185);
    font-size: 19px;
    font-family: "Playfair Display", serif;
}
img{
    height: 390px;
    width: 390px;
}
.cajasimg{
    display: flex;
    padding: 10px;
}

.wannaCry {
    height: 230px;
    width: 400px;
}
.ciberataques {
    height: 250px;
}
.navbarnav-links{
    background-color: black;
}
.indeximg{
    height: 400px;
    width: 700px;
    padding-left: 20px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.buenasimg{
    height: 300px;
    width: 370px;
}
.indeximg2{
    height: 338px;
    width: 400px;
    padding-right: 20px;
}
#todo {
    margin: 20px;
}