@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.header .nav-links .navbarnav-links{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 15px;
     padding: 20px;
     transition-duration: 1s;
     border-radius: 40px;
}

.header .nav-links .navbarnav-links:hover{
    font-size: 20px;
}

.header{
    background-color: rgb(0, 86, 247);
    padding: 10px;
}
body{
    background-color: rgb(5, 0, 70);
    margin: 0;
}

.nav-links{
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

*{
     color: rgb(185, 185, 185);
    font-size: 19px;
    font-family: "Playfair Display", serif;
}
img{
    height: 390px;
    width: 390px;
}
.cajasimg{
    display: flex;
    justify-content: space-evenly;
}

.wannaCry {
    height: 230px;
    width: 400px;
}
.ciberataques {
    height: 250px;
}
.navbarnav-links{
    background-color: black;
}
.indeximg{
    height: 700px;
    width: 700px;
    padding-left: 20px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
.buenasimg{
    height: 500px;
    width: 450px;
}
.indeximg2{
    height: 338px;
    width: 400px;
    padding-right: 20px;
}
#todo {
    margin: 40px;
}
.parrafoespaciado{
    padding: 40px;
    width: 600px;
}
.imagenes{
    display: grid;
    grid-template-rows: 450px;
}
.img2{
    padding: 10px;
}
.imagenes2{
    padding: 10px;
}